
    <section>
      <div class="product">
        <img
          src="https://images.unsplash.com/photo-1621859678777-dbff066f723e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2384&q=80"
          alt="SLY Coins"
        />
        <div class="description">
          <h3>SLY Coins</h3>
          <h5>HK$300.00</h5>
        </div>
      </div>
      <button type="button" id="checkout-button">Checkout</button>
    </section>

