    <link rel="stylesheet" href="filter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>


     <div class="navbar_container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light top_navbar">
              <div class="container-fluid">
                   <div class="navbar_left">
                         <a class="navbar-brand" >Lonely</a>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                       <div class="navbar-nav">
                        <a class="nav-link" href="/match">Match</a>
                       </div>
                     </div>
                  </div>
              
                        <div class="navbar_right">
                              <div class="action">

                                 <div class="profile" onclick="menuToggle();">
                                     <img src="https://i2-prod.mirror.co.uk/incoming/article23362081.ece/ALTERNATES/s1200c/0_DSOL_Yael_Shelbia_7.jpg">
                                 </div>
                                 
                                 <div class="menu">
                                   <h3>Sexy Girl</h3>
                                     {{!-- <h3>Someone Famous<br><span>Website De</span></h3> --}}
                                     <ul>
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/test-account.png"/><a href="/myprofile">My Profile</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/edit-property.png"/><a href="#">Edit Profile</a></li> --}}
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/inbox.png"/><a href="#">Inbox</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/gear.png"/><a href="#">Settings</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/help.png"/><a href="#">Help</a></li> --}}
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/exit.png"/><a href="/logout">Log Out</a></li>
                                     </ul>
                                </div>

                              </div>
                        </div>
              </div>
            </nav>
      </div>


 <div class="container">
    <div class="title">Filter</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <label for="gender">Gender</label>
              <select name="gender" id="gender">
                <option value="gender">-Select-</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
          </div>
          <div class="input-box row">
              <div clas="col-12">
                <label for="age" id="label_age">Age</label>
              </div>

              <select name="age_min" id="age_min">
              <option value="age_min">From</option>
              </select>

              <select name="age_max" id="age_max">
                <option value="age_max">To</option>
                </select>
            </div>

            

            <div class="input-box">
              <label for="height">Height</label>
              <select name="height" id="height">
                <option value="height">-Select-</option>
              </select>
            </div>

            <div class="input-box">
              <label for="education">Education</label>
              <select name="education" id="education">
                <option value="education">-Select-</option>
              </select>
            </div>


            <!-- <div class="input-box">
              <label for="ethnicity">Ethnicity</label>
              <select name="ethnicity" id="ethnicity">
                <option value="ethnicity">-Select-</option>
              </select>
            </div> -->

            <div class="input-box">
              <label for="religion">Religion</label>
              <select name="religion" id="religion">
                <option value="religion">-Select-</option>
              </select>
            </div>

            <div class="input-box">
              <span class="details" >Distance</span>
              <select name="distance" id="distance">
                <option value="distance">-Select-</option>
              </select>           
             </div>


          </div>
        

        <div class="button">
          <input type="submit" value="change">
        </div>
      </form>
    </div>
  </div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
  
// $('#age').append([...Array(100).keys()].map((i,j) => `<option value="${i}">${i}</option >`)) 
  for(let i =18;i<100;i++){
    $('#age_min').append(`<option value="${i}">${i}</option >`)
  }

  for(let i =18;i<100;i++){
    $('#age_max').append(`<option value="${i}">${i}</option >`)
  }

  for(let i =122;i<250;i++){
    $('#height').append(`<option value="${i}">${i}</option >`)
  }

  eduArr = ['Secondary','Associate','Bachelor','Master','Doctor'];
  for(let i = 0;i<eduArr.length;i++){
    $('#education').append(`<option value="${eduArr[i]}">${eduArr[i]}</option >`)
  }

//   ethArr = ['Asian','Arab','Black/Agrican-descent','Hispanic/Latino','Native American','Pacific Islander','South Asian','White/Caucasian','Other'];
//   for(let i = 0;i<ethArr.length;i++){
//     $('#ethnicity').append(`<option value="${ethArr[i]}">${ethArr[i]}</option >`)
//   }

  relArr = ['Buddhist','Christian','Catholic','Hindu','Jewish','Muslim','Sikh','Shinto','Spiritual but not religious','Neither religious nor spiritual','Other'];
  for(let i = 0;i<relArr.length;i++){
    $('#religion').append(`<option value="${relArr[i]}">${relArr[i]}</option >`)
  }

  for(let i = 1;i<300;i++){
    $('#distance').append(`<option value="${i}">${i}</option >`)
  }

</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

{{!-- get location --}}
<script>
  const successCallback = (position) => {
    let coords = {
      latitude:position.coords.latitude,
      longitude:position.coords.longitude
      }
    document.getElementById('location').value = JSON.stringify(coords)
  }

  const errorCallback = (error) => {
    console.error(error);
  }

  const watchId = navigator.geolocation.getCurrentPosition(successCallback,errorCallback)
</script>

{{!-- profile button toggle --}}
 <script>
        function menuToggle(){
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active")
        }
</script>



</script>