
    <link rel="stylesheet" href="/signup.css">

  <div class="container">
    <div class="title">Registration</div>
    <div class="content">
      <form action="/signup" method="POST">
        <div class="user-details">
          <div class="input-box">
            <span class="details">First name</span>
            <input type="text" placeholder="Enter your first name" id="name" name="firstname">
          </div>
          <div class="input-box">
            <span class="details">Last Name</span>
            <input type="text" placeholder="Enter your last name" name="lastname">
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="password" placeholder="Enter your password" id="password" name="password">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="password" placeholder="Confirm your password">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="email" placeholder="Enter your email" id="email" name="username">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="text" placeholder="Enter your number" id="phone" name="phone">
          </div>

        </div>

            <div class="button">
               <input id="reg" type="submit" value="Next" >
              </div>
  
              <!-- then need to redirect to profile.html -->
      </form>
    </div>
  </div>
{{!-- <form action="/signup" method="POST">
<button type="submit">dzadsf</button>
</form> --}}

