<link rel="stylesheet" href="/userchat.css">

 <div id="chat-div">
        <div id="chat-container">

            <div id="search-container">
                <input type="text" placeholder="Search" />
            </div>

            <div id="conversation-list">
                {{#each data}}
                <a href="/chatroom/{{chatroom}}">
                <div class="conversation active">
                    <img src="/upload/{{profilepic}}" alt="">
                    <div class="title-text">
                        {{firstname}}
                    </div>
                    <div class="created-date">
           
                    </div>
                    <div class="conversation-message">
                        {{aboutme}}
                    </div>
                </div>
                </a>
                {{/each}}
            </div>

            <div id="new-message-container">

            </div>

            <div id="chat-title">
                <span>D</span>
                <img src="https://img.icons8.com/metro/26/000000/trash.png" alt=""/>
            </div>

            <div id="chat-message-list">
            


            </div>
            


            <div id="chat-form">
                <img src="https://img.icons8.com/metro/26/000000/attach.png" alt=""/>
                <input type="text" placeholder="type a message" /> 
            </div>
            
             

        </div>
    </div>