    <link rel="stylesheet" href="/wallet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>



<div class="navbar_container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light top_navbar">
              <div class="container-fluid">
                   <div class="navbar_left">
                         <a class="navbar-brand" >LoveBetter</a>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                   </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                       <div class="navbar-nav">
                        <a class="nav-link" href="/findmatches">Match</a>
                        <a class="nav-link" href="/chatroom">Talk to them</a>
                       </div>
                     </div>
                  </div>
              
                        <div class="navbar_right">
                              <div class="action">

                                 <div class="profile" onclick="menuToggle();">
                                     <img src="/upload/{{user.profilepic}}">
                                 </div>
                                 
                                 <div class="menu">
                                   <h3>{{user.firstname}}</h3>
                                     {{!-- <h3>Someone Famous<br><span>Website De</span></h3> --}}
                                     <ul>
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/test-account.png"/><a href="/myprofile">My Profile</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/edit-property.png"/><a href="#">Edit Profile</a></li> --}}
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/inbox.png"/><a href="#">Inbox</a></li>
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/gear.png"/><a href="#">Settings</a></li> --}}
                                         {{!-- <li><img src="https://img.icons8.com/ios-glyphs/24/000000/help.png"/><a href="#">Help</a></li> --}}
                                         <li><img src="https://img.icons8.com/ios-glyphs/24/000000/exit.png"/><a href="/logout">Log Out</a></li>
                                     </ul>
                                </div>

                              </div>
                        </div>
              </div>
            </nav>
      </div>



{{!-- profile file part --}}
<div class="container-allPart">


            <div class="main-bd">

                <div class="left-side">
                    <div class="profile-side">

                        <div class="wallet-div">
                            <img src="https://img.icons8.com/cotton/128/000000/coin-wallet--v1.png"/>
                        </div>



                        <div>
                            <h2>Total Balance</h2>
                        </div>

                        <div>
                               <span>
                                  pointnumber
                                </span>
                        </div>
                             


                    </div>
                </div>

                <div class="right-side">
                    <div class="nav">
                        <ul>
                            <li class="user-foto active" onclick="tabs(0)">Shop</li>
                            <li class="user-profile" onclick="tabs(1)">History</li>
                            {{!-- <li class="user-Comment" onclick="tabs(2)">Comment</li> --}}
                        </ul>
                    </div>
                    <div class="profile-body">
                        <div class="profile-posts tab profile-box">

                            <div class="container-shopbox">

                                <div class="card">
                                    <div class="circle">
                                        <h2>100 Coins</h2>
                                    </div>
                                    <div class="content">
                                        <p>Coins can help you unlock more features!(There will be 100 points.)</p>
                                        <a href="">BUY</a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="circle">
                                        <h2>200 Coins</h2>
                                    </div>
                                    <div class="content">
                                      <p>Coins can help you unlock more features!(There will be 200 points.)</p>
                                        <a href="">BUY</a>
                                    </div>
                                </div>

                                <div class="card">
                                    <div class="circle">
                                        <h2>500 Coins</h2>
                                    </div>
                                    <div class="content">
                                         <p>Coins can help you unlock more features!(There will be 500 points.)</p>
                                        <a href="">BUY</a>
                                    </div>
                                </div>

                                     <div class="card">
                                    <div class="circle">
                                        <h2>1000 Coins</h2>
                                    </div>
                                    <div class="content">
                                         <p>Coins can help you unlock more features!(There will be 1000 points.)</p>
                                        <a href="">BUY</a>
                                    </div>
                                </div>
                                
                            </div>
                           
                        </div>

                        <div class="profile-review tab profile-box">

                           <div class="container-history">
                                <table>

                                  <tr>
                                      <th>Amount</th>
                                      <th>Items</th>
                                      <th>Date</th>
                                      <th>Balance</th>
                                  </tr>
  
                                  <tr>
                                      <td>1</td>
                                      <td>2</td>
                                      <td>3</td>
                                      <td>3</td>
                                  </tr>
  
                                </table>
                           </div>
                            
                        </div>
                        {{!-- <div class="profile-setting tab">
                            <h1>Account Setting</h1>
                            <p>Bye</p>
                        </div> --}}
                    </div>
                </div>

            </div>
    </div>

    
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/likeBtn.js"></script>

{{!-- profile button toggle --}}
 <script>
        function menuToggle(){
            const toggleMenu = document.querySelector(".menu");
            toggleMenu.classList.toggle("active")
        }
</script>


{{!-- right-side nav change effect --}}
<script>
    $('.nav ul li').click(function(){

    $(this).addClass("active").siblings().removeClass('active')
})

const tabBtn = document.querySelectorAll(".nav ul li");
const tab = document.querySelectorAll(".tab");

function tabs(panelIndex) {
    tab.forEach(function(node){
        node.style.display = "none";
    })
    tab [panelIndex].style.display = "block";
}
tabs(0);

</script>

<script>
function myFunction() {
  alert("You have liked this person!!!");
}
</script>

<script>
//getting all required elements
const gallery  = document.querySelectorAll(".image"),
previewBox = document.querySelector(".preview-box"),
previewImg = previewBox.querySelector(".image-box img"),
closeIcon = previewBox.querySelector(".icon"),
currentImg = previewBox.querySelector(".current-img"),
totalImg = previewBox.querySelector(".total-img"),
shadow = document.querySelector(".shadow");

window.onload = ()=>{
    for (let i = 0; i < gallery.length; i++) {
        totalImg.textContent = gallery.length; //passing total img length to totalImg variable
        let newIndex = i; //passing i value to newIndex variable
        let clickedImgIndex; //creating new variable
        
        gallery[i].onclick = () =>{
            clickedImgIndex = i; //passing cliked image index to created variable (clickedImgIndex)
            function preview(){
                currentImg.textContent = newIndex + 1; //passing current img index to currentImg varible with adding +1
                let imageURL = gallery[newIndex].querySelector("img").src; //getting user clicked img url
                previewImg.src = imageURL; //passing user clicked img url in previewImg src
            }
            preview(); //calling above function
    
            const prevBtn = document.querySelector(".prev");
            const nextBtn = document.querySelector(".next");
            if(newIndex == 0){ //if index value is equal to 0 then hide prevBtn
                prevBtn.style.display = "none"; 
            }
            if(newIndex >= gallery.length - 1){ //if index value is greater and equal to gallery length by -1 then hide nextBtn
                nextBtn.style.display = "none"; 
            }
            prevBtn.onclick = ()=>{ 
                newIndex--; //decrement index
                if(newIndex == 0){
                    preview(); 
                    prevBtn.style.display = "none"; 
                }else{
                    preview();
                    nextBtn.style.display = "block";
                } 
            }
            nextBtn.onclick = ()=>{ 
                newIndex++; //increment index
                if(newIndex >= gallery.length - 1){
                    preview(); 
                    nextBtn.style.display = "none";
                }else{
                    preview(); 
                    prevBtn.style.display = "block";
                }
            }
            document.querySelector("body").style.overflow = "hidden";
            previewBox.classList.add("show"); 
            shadow.style.display = "block"; 
            closeIcon.onclick = ()=>{
                newIndex = clickedImgIndex; //assigning user first clicked img index to newIndex
                prevBtn.style.display = "block"; 
                nextBtn.style.display = "block";
                previewBox.classList.remove("show");
                shadow.style.display = "none";
                document.querySelector("body").style.overflow = "scroll";
            }
        }
        
    }
    
}
</script>