*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,
body{
    height:100%;
}

html {
    font-family:Arial,Helvetica,sans-serif;
    background: linear-gradient(to right,#57c1eb,#246fa8 100%);
    overflow-x:hidden;
}

body{
    /* display:grid; */
    place-items:center;
}


/* profile and menu */
.navbar_container{
    width: 100%;
  }
  
  .navbar_left{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-fluid{
    justify-content: space-between;
  }


  .navbar_right{
    display: flex;
    margin-right: 20px;
  }
  
  #myPoint{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #myPoint a:first-child{
    margin:auto;
    padding:auto;
  }
  
  .action{
    /* position: fixed; */
    top: 10px;
    right: 50px;
  }
  
  .profile img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .action .profile{
    position:relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow:hidden;
    cursor:pointer;
  }
  
  .action .menu::before{
   content:"";
   position:absolute;
   top: -5px;
   right:28px;
   width:20px;
   height:20px;
   background: #fff;
   transform:rotate(45deg);
  }
  
  .action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active{
   top: 80px;
   visibility: visible;
   opacity: 1;
   z-index: 1000;
  }
  
  .action .menu h3{
    width: 100%;
    text-align:center;
    font-size: 18px;
    padding:20px 0;
    font-weight: 500;
    color:#555;
    line-height: 1.2em;
  }
  
  .menu h3 span{
    font-size: 14px;
    color:#cecece;
    font-weight: 400;
  }
  
  .action .menu ul{
    padding-left:20px;
    justify-self: start;
    margin-bottom:0;
  }
  
  .action .menu ul li{
   list-style:none;
   padding: 10px 0 0;
   border-top: 1px solid rgba(0,0,0,0.05);
   display:flex;
   /* align-items:center; */
   /* justify-content: center; */
  }
  
  .action .menu ul li img{
   max-width: 28px;
   /* margin-right: 10px; */
   opacity: 0.5;
   transition: 0.5s;
  }
  
  .action .menu ul li:hover img{
   opacity: 1;
  }
  
  .action .menu ul li a{
   display:inline-block;
   text-decoration: none;
   color:#555;
   font-weight: 500;
   transition: 0.5s;
  }
  
  .action .menu ul li:hover a{
   color:red;
  }
  /* end of profile and menu button */

#chat-container{
    display:grid;
    grid:
        "search-container chat-title" 71px
        "conversation-list chat-message-list" 1fr
        "new-message-container chat-form" 78px
        / 275px 1fr;
    /* max-width: 1000px; */
    min-height: 100vh;
    width:100%;
    padding-top: 100px;
    /* height: 95vh; */
    background: #FFF;
    border-radius:10px;
}

#search-container,
#conversation-list,
#new-message-container{
    background:#0048AA;
}

#search-container {
    display:grid;
    align-items:center;
    padding:0 20px;
    grid-area:search-container;
    border-radius: 10px 0 0 0;
    box-shadow:0 1px 3px -1px rgba(0,0,0,0.75);
    z-index:1;
}

#search-container input{
    color:#eee;
    outline:none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 48px;
    padding-right: 20px;
    font-size: 1.4rem;
    background:url("https://img.icons8.com/windows/32/000000/search--v1.png") no-repeat rgba(255,255,255,0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#serach-container input::placeholder {
    color:#ddd;
    font-weight: 20px 20px;   
}

#conversation-list {
    grid-area: conversation-list;
    overflow-y: scroll;
}

.conversation {
    display:grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 13px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002C88;
    padding:20px 20px 20px 15px;
}

.conversation.active,
.conversation:hover {
    background:#002C88;
}

.conversation:hover {
    cursor:pointer;
}

.conversation > img{
    grid-row: span 2;
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.title-text {
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x:hidden;
    text-overflow: ellipsis;
}

.created-date {
    color: #ddd;
    font-size: 1rem;
}

.created-date {
    color:#ddd;
    font-size: 1rem;
}

.conversation-message {
    grid-column: span 2;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x:hidden;
    text-overflow: ellipsis;
}

#new-message-container {
    display: grid;
    grid: 40px /40px;
    align-content:center;
    grid-area: new-message-container;
    border-top: 1px solid rgba(0,0,0,0.25);
    border-radius:0 0 0 10px;
    padding: 0 15px;
}

#new-message-container a {
    display:grid;
    place-content: center center;
    background:#eee;
    border-radius: 100%;
    color: #002c88;
    text-decoration:none;
    font-size:3.6rem;
}

#chat-title,
#chat-form {
    background:#eee;
}

#chat-title{
    display:grid;
    grid: 36px / 1fr 36px;
    align-content:center;
    align-items:center;
    grid-area:chat-title;
    color:#0048AA;
    font-weight:bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    padding:20px; 
    text-align: center;
}

#chat-title > img {
    cursor: pointer;
    /* grid-row: span 2; */
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

#chat-message-list {
    grid-area:chat-message-list;
    display: flex;
    flex-direction: column;
    padding:0 20px;
    overflow-y: scroll;
}

.message-content{
    display: grid;
}

.you-message{
    justify-content: end;
}

.you-message .message-content { 
    justify-items: end;
}

.other-message{
    justify-items: start;
}

.other-meassge .message-content{
    grid-template-columns: 48px 1fr;
    /* grid-column-gap: 15px; */
}

.message-row {
    display: grid;
    grid-template-columns: 70%;
    margin-bottom: 20px;
}

.message-row img {
    border-radius: 100%;
    grid-row: span 2;
    height: 50px;
    width: 50px;
}

.message-text {
    padding:9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.message-time {
    font-size:  1.3rem;
    color:#777;
}

.you-message .message-text {
    background:#0048AA;
    color:#eee;
    border: 1px solid #0048AA;
    border-radius: 14px 14px 0 14px;
}

.other-message .message-text {
    background:#eee;
    color:#111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
}

#chat-form{
    display:grid;
    grid: 51px / 1fr 32px;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-area: chat-form;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
    padding-left: 42px;
    padding-right: 22px;
    height: 100%;
}

#chat-form input{
    outline:none;
    padding:15px;
    border: 2px solid #ddd;
    color:#330;
    border-radius: 6px;
    font-size:1.4rem;
}

#chat-form .fa-paper-plane{
    font-size:30px;
}

#chat-form .fa-paper-plane{
    font-size:30px;
}
::-webkit-scrollbar {
    display:none;
}

img {
    object-fit: cover;
}

.navbar_right{
    display: flex;
    margin-right: 20px;
  }

  #myPoint{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }