@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  min-height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  background-repeat: no-repeat;
  overflow-y: scroll;
}

/* profile and menu */
.navbar_container{
  width: 100%;
}

.navbar_left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid{
  justify-content: space-between;
  padding:0;
}


.navbar_right{
  display: flex;
  margin-right: 20px;
}

#myPoint{
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myPoint a:first-child{
  margin:auto;
  padding:auto;
}

.action{
  /* position: fixed; */
  top: 10px;
  right: 50px;
}

.profile img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

.action .profile{
  position:relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow:hidden;
  cursor:pointer;
}

.action .menu::before{
 content:"";
 position:absolute;
 top: -5px;
 right:28px;
 width:20px;
 height:20px;
 background: #fff;
 transform:rotate(45deg);
}

.action .menu{
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active{
 top: 80px;
 visibility: visible;
 opacity: 1;
 z-index: 1000;
}

.action .menu h3{
  width: 100%;
  text-align:center;
  font-size: 18px;
  padding:20px 0;
  font-weight: 500;
  color:#555;
  line-height: 1.2em;
}

.menu h3 span{
  font-size: 14px;
  color:#cecece;
  font-weight: 400;
}

.action .menu ul{
  padding-left:20px;
  justify-self: start;
  margin-bottom:0;
}

.action .menu ul li{
 list-style:none;
 padding: 10px 0 0;
 border-top: 1px solid rgba(0,0,0,0.05);
 display:flex;
 /* align-items:center; */
 /* justify-content: center; */
}

.action .menu ul li img{
 max-width: 28px;
 /* margin-right: 10px; */
 opacity: 0.5;
 transition: 0.5s;
}

.action .menu ul li:hover img{
 opacity: 1;
}

.action .menu ul li a{
 display:inline-block;
 text-decoration: none;
 color:#555;
 font-weight: 500;
 transition: 0.5s;
}

.action .menu ul li:hover a{
 color:red;
}
/* end of profile and menu button */



.container{
  min-height: 100%;
  max-width: 700px;
  margin-top:50px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-bottom: 10%;
}
.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.user-details .row{
 --bs-gutter-x:0rem;
 /* justify-content: space-between; */
}

form .input-box span.details{
  display: block;
  font-weight: 500;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #9b59b6;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0;
   display: flex;
   justify-content: center;
 }

 form .button input{
   height: 100%;
   width: 50%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
  }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-20deg, #f794a4 0%, #fdd6bd 100%);
 }

  select{
    width:100%;
    padding:15px 20px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
  }

  #min_age{
    width:50%;
  }

  #max_age{
    width:50%;
  }

  #min_height{
    width:50%;
  }

  #max_height{
    width:50%;
  }


  /* like and dislike button popup(start)*/

.wrapper {
  z-index: 998;
  font-weight:400;
  font-size: 1rem;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* position:absolute; */
}

.container-btn{
  background:#fff;
  padding:3em;
  text-align:center;
  border-radius: 0.5em;
  min-width: 400px;
  display: none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
  transition: 0.3s all;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation:zoomIn 1s;
}

.container-btn.active{
  display: block;
}

@-webkit-keyframes zoomIn{
  0%{transform:scale(0.75) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}
@-moz-keyframes zoomIn{
  0%{transform:scale(0.75) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}
@-o-keyframes zoomIn{
  0%{transform:scale(0.75) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}
@keyframes zoomIn{
  0%{transform:scale(0.75) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}

.wrapper{
  content:"";
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:1;
  display: none;
}

.wrapper.active{
  opacity:1;
  display:block;
}

.container-btn .fa-times{
  color:#ddd;
  font-size:1.5rem;
  position:absolute;
  top:1rem;
  right:1rem;
  cursor:pointer;
}
/* 
.img{
  margin:1.2em 0;
  width:60px;
} */

.text{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2em;
}


.btn-success
{
  font-size:1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration:none;
  color:#fff;
  padding:0.8em 0.4em;
  display: block;
  border-radius: 0.4em;
  margin-bottom:1.6em;
}

.btn-success{
  background-color:#ED6755;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
}



/* like and dislike button popup(end) */
  

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
