@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  height: 100%;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-attachment: fixed;
}

.container{
  margin: auto;
  min-height: 100%;
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  transform: translateY(20px);
  margin-bottom: 10%;
}

.container .top-info .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.top-info{
  display: flex;
  justify-content: space-between;
}

/* .container .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background:linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
} */

.profile-pic-div{
  height: 240px;
  width: 360px;
  position: relative;
  /* top:50%; */
  /* left:50%; */
  /* transform:translate(-50%,-50%); */
  border-radius: 0%;
  overflow:hidden;
  border: 1px solid grey;
  /* border-style: none; */
}

#photo1,#photo2,#photo3,#photo4,#photo5,#photo6{
  height:100%;
  width:100%;
}

#picFile1,#picFile2,#picFile3,#picFile4,#picFile5,#picFile6{
   display:none;
}

#uploadBtn1,#uploadBtn2,#uploadBtn3,#uploadBtn4,#uploadBtn5,#uploadBtn6{
   height:50px;
   width:360px;
   position:absolute;
   bottom:0;
   left:50%;
   transform:translateX(-50%);
   text-align: center;
   background: rgba(128, 128, 128, 0.8);
   color:wheat;
   line-height: 30px;
   font-family: sans-serif;
   font-size:15px;
   cursor:pointer;
   display:none;
}

#uploadBtn1 img,#uploadBtn2 img,#uploadBtn3 img,#uploadBtn4 img,#uploadBtn5 img,#uploadBtn6 img{
  object-fit: contain;
  color: #fff;
}

/* uploaded button end */

.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 15px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus{
  border-color: #9b59b6;
}

/* .user-details .input-box input:valid{
  border-color: #9b59b6;
} */

 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0;
   display: flex;
   justify-content: center;
 }
 form .button input{
   height: 100%;
   width: 50%;
   border-radius: 5px;
   border-style: none;
   box-shadow: 3px 3px #888888;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
 }

  select{
    width:100%;
    padding:10px 20px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
  }

  #start{
    width:100%;
    padding:22px 8px;
    display:inline-block;
    border:1px solid #ccc;
    border-radius:4px;
    box-sizing:border-box;
  }

  #now_age{
    margin-bottom: 0;
  }

  #input_location{
    /* display: none; */
    width: 100%;
  }

  @media(max-width: 689px),(min-width:584){
    #aboutme{
      width: 220%;
    }
  }

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
#aboutme{
  width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.wrapper{
  max-width: 1100px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  column-count: 3;
  column-gap: calc(80px/3);
}
.gallery .image{
  width: 240px;
  height: 360px;
  margin: 15px 0 0 0;
  padding: 0px;
  /* width: calc(100% / 3); */
}
.gallery .image span{
  display: flex;
  width: 100%;
  overflow: hidden;
}
.gallery .image img{
  object-fit: cover;
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
  border: 1px solid grey;
}
.gallery .image:hover img{
  transform: scale(1)
}

.image-box img{
  width: 100%;
  border-radius: 0 0 3px 3px;
}

.shadow{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
  background: rgba(0,0,0,0.45);
}

@media(max-width: 800px){
  .container{
    width: 700px
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    column-count: 2;
    column-gap: 10px;
  }
  .gallery .image{
    width: 240px;
    height: 360px;
    margin: 10px auto;
    padding: 0px;
    /* width: calc(100% / 3); */
  }
}

@media(max-width: 510px){  
  .container{
    width: 320px
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .image{
    width: 240px;
    height: 360px;
    margin: 10px auto;
    padding: 0px;
  }
}