@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #8e44ad;
  color: #fff;
}
html,body{
  /* display: grid; */
  height: 100%;
  place-items: center;
  background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);;
  width: 100%;
  overflow: scroll;
}

.row{
  height: 100%;
  padding-top: 120px;
  background: linear-gradient(to bottom, #a8edea 0%, #fed6e3 100%);
  background-attachment:fixed ;
}

.container .box{
  /* max-height: 50%; */
  max-width: 190px;
  height: 400px;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* transition: zoomIn 1s; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.container .box .carousel{
  transform: translateY(-10px);
}

@keyframes zoomIn{
  0%{transform:scale(1) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}

.box-container .container {
  max-width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.box-container .container .box:last-child:nth-child(3n-1) {
  margin-right: auto;
}


.box .quote i{
margin-top: 10px;
font-size: 45px;
color: #17c0eb
}
.container .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #8e44ad;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 20%;
  object-fit: cover;
  border: 2px solid #fff;
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}

.box .name_job {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .name_job p{
  margin: 10px 0 3px 0;
  color: #8e44ad;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}

.box .name_job button{  
    padding: 9px 5px;
    outline: none;
    border: 3px solid #8e44ad;
    border-radius: 1px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 400;
    color: #8e44ad;
    transition: all 0.3s linear;
}

.rating i{
  font-size: 18px;
  color: #8e44ad;
  margin-bottom: 5px;
}
.btns{
  /* margin-top: 20px; */
  display: flex;
  margin-bottom: 5px;
  justify-content: space-around;
  width: 100%;
}

.btns a{
 /* width:50%; */
 display: flex;
 justify-items: center;
 background: #8e44ad;
  outline: none;
  border: 0px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
  border-radius: 50%;
  width:50px;
  height:50px;
}

.btns a button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width:50px;
  height:50px;
}

.btns a button span{
  width: 100%;
}

.btns button{
  background: #8e44ad;
  /* width:50%; */
  /* padding: 9px 0px; */
  outline: none;
  border: 2px solid #8e44ad;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #8e44ad;
  transition: all 0.3s linear;
  border-radius: 50%;
  width:50px;
  height:50px;
}

.btns button:first-child{
  background: none;
  /* margin-right: 5px; */
}

/* .btns button:nth-child(2){
  color: #fff;
  margin-left: 5px;
} */

/* .btns button:first-child:hover{
  background: #8e44ad;
} */

.btns > button:nth-child(1):hover{
  background: pink;
}

.btns  a button:hover{
  background: white;
}

/* 
.btns button:hover{
  color: #fff;
} */

.random-card .box-container .container .box .name_job{
  width:150px;
} 

.random-card .box-container .container .box p{
  width:150px;
  height: 20px;
  text-align: center;
  overflow: auto;
  text-overflow: ellipsis;
} 


.random-cardIcon{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}
.avatar {
    width: 80px;
    height:80px;
    margin: auto;
    border-radius: 50%;
    overflow:hidden;
    background-color:#2c303a;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.avatar img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.avatar-group .avatar{
    margin-left: -35px;
    margin-bottom: 20px;
    cursor:pointer;
    transition:transform 0.3s ease;
}

.avatar-group .avatar:hover{
    transform: translate(-30px);
}

/* .avatar-group .avatar:hover:not(:last-of-type){
    transform: translate(-10px);
} */


.avatar-group .hidden-avatars {
    width:100px;
    height:100px;
    border-radius:50%;
    background-color:#2c303a;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    /* margin-right: 30px; */
    margin-left: -35px;
}

.avatar-group .hidden-avatars p{
    margin-bottom: 0;
}

#filter_btn_div{
 display: flex;
 align-items:flex-start;
}

#filter_btn{
  position:fixed;
}

#filter_btn a button{
  padding: 9px 18px;
  border:none;
  outline:none;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  pointer-events: none;
  background:#1da1f2;
}

.carousel-item img{
  height: 260px;
  width: 190px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* like and dislike button popup(start)*/

.wrapper {
  z-index: 998;
  font-weight:400;
  font-size: 1rem;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position:absolute;
}

.container-btn{
  background:#fff;
  padding:3em;
  text-align:center;
  border-radius: 0.5em;
  min-width: 400px;
  display: none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
  transition: 0.3s all;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation:zoomIn 0.5s;
}

.container-btn.active{
  display: block;
}

@keyframes zoomIn{
  0%{transform:scale(0.75) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}

.wrapper{
  content:"";
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:1;
  display: none;
}

.wrapper.active{
  opacity:1;
  display:block;
}

.container-btn .fa-times{
  color:#ddd;
  font-size:1.5rem;
  position:absolute;
  top:1rem;
  right:1rem;
  cursor:pointer;
}
/* 
.img{
  margin:1.2em 0;
  width:60px;
} */

.text{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2em;
}


/* .btn-like,
.btn-dislike
{
  font-size:1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration:none;
  color:#fff;
  padding:0.8em 0.4em;
  display: block;
  border-radius: 0.4em;
  margin-bottom:1.6em;
} */

.btn-match
{
  font-size:1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration:none;
  color:#fff;
  padding:0.8em 0.4em;
  display: block;
  border-radius: 0.4em;
  margin-bottom:1.6em;
}

.btn-match{
  background-color:#ED6755;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
}
/* .btn-like{
  background-color:#ED6755;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
} */

/* .btn-dislike{
  background-color:#1C1B5E;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(28,27,94,1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(28,27,94,1);
  box-shadow: 0px 13px 34px -6px rgba(28,27,94,1);
} */


/* like and dislike button popup(end) */
@media (max-width:1050px){
  .container .box{
    /* width: calc(50% - 10px); */
    /* width: 260px; */
    height: 400px;
    margin-bottom: 20px;
  }
  .box-container .container{
    justify-content: center;
  }
}
@media (max-width:710px){
  .container .box{
    /* width: 260px; */
    height: 400px;
  }
  .navbar_container{
    margin: 0;
  }
}

@media (max-width:880px){
  .box-container .container{
    justify-content: center;
  }

}
/* like and dislike button popup(start)/ */

.wrapper {
  z-index: 998;
  font-weight:400;
  font-size: 1rem;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position:absolute;
}

.container-btn{
  background:#fff;
  padding:3em;
  text-align:center;
  border-radius: 0.5em;
  min-width: 400px;
  display: none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
  transition: 0.3s all;
  animation-fill-mode: forwards;
  animation:zoomIn 0.5s;
}

.container-btn.active{
  display: block;
}

@keyframes zoomIn{
  0%{transform:scale(0.75) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}

.wrapper{
  content:"";
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:1;
  display: none;
}

.wrapper.active{
  opacity:1;
  display:block;
}

.container-btn .fa-times{
  color:#ddd;
  font-size:1.5rem;
  position:absolute;
  top:1rem;
  right:1rem;
  cursor:pointer;
}


.text{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2em;
}

.btn-match
{
  font-size:1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration:none;
  color:#fff;
  padding:0.8em 0.4em;
  display: block;
  border-radius: 0.4em;
  margin-bottom:1.6em;
}

.btn-match{
  background-color:#ED6755;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
}




/* / like and dislike button popup(end) */
