@import url('https://fonts.googleapis.com/css2?family=Yesteryear&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #555;
}

.container-cover
{
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
}

.web_content{
    position: relative;
    width: 100%;
    height: 100vh;
}

.top_navbar{
    background-color: white!important;
}

.navbar-brand{
    margin-left: 10px;
}

.container-cover .box
{
    position:absolute;
    width:100%;
    height:100vh;
    cursor:pointer;
    display:flex;
    /* justify-content:center; */
    align-items:center;
    transition:1s ease;
} 

.container-cover .box.box1
{
    background:#f00;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

.container-cover .box.box2
{
    background:#0f0;
    clip-path: polygon(0 67%, 100% 67%, 100% 33%, 0 33%);
}

.container-cover .box.box3
{
    background:#00f;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

.container-cover .box.active
{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); 
    z-index:2;
    transition: 1s ease-in-out;
}

.container-cover .box:hover
{
    z-index:1000;
}

.container-cover .content
{
    padding:20px;
    margin:20px;
    z-index:10;
    opacity:0;
    transition: 1s ease-in-out;
}

.container-cover .box.active .content
{
    opacity:1;
    transition: 1s ease-in-out;
    transition-delay: 0.5s;
    /* z-index:99; */
}

.container-cover .content h2
{
    color:#fff;
    font-size:5vh;
    font-weight: initial;
}

.container-cover .box video
{
    position:absolute; 
    top:0;
    left:0;
    width:100%;
    height: 100%;
    object-fit: cover;
}

.container{
    position: relative;
    width: 35vw;
    height: 100vh;
    display: grid;
    /* grid-template-columns: repeat(2,1fr); */
    grid-gap: 18rem;
    padding: 0 0rem;
    float: right;
    margin: auto;
    padding: auto;
    justify-content: center;
    align-items: center;
}

.container-login{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.6;
    z-index: 1001;
}


.login-box{
    display: flex;
    align-items: center;
    text-align: center;
    z-index: 1002;
}

form{
    margin: auto;
    padding: auto;
}

form h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #999;
}

.input-group{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-group:nth-child(1){
    margin-bottom: 4px;
}
.input-group:before,.input-group:after{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38d39f;
    transition: .5s;
}
.input-group:after{
    right: 50%;
}
.input-group:before{
    left: 50%;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon i{
    color: #d9d9d9;
    transition: .5s;
}

.input-group > div{
    position: relative;
    height: 45px;
}

.input-group >div > h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #d9d9d9;
    font-size: 18px;
    transition: .3s;
}
.input-group.focus .icon i{
    color: #38d39f;
}
.input-group.focus div h5{
    top: -5px;
    font-size: 15px;
}
.input-group.focus:after,.input-group.focus:before{
    width: 50%;
}
.input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Roboto', sans-serif;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
a:hover{
    color: #38d39f;
}
.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-image: linear-gradient(to right,#32be8f,#38d39f,#32be8f);
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    background-size: 200%;
    transition: .5s;
}
.btn:hover{
    background-position: right;
}

#fail_row{
    padding-bottom: 20px;
    color: rgb(240, 216, 0);
}

#signup_row{
    display: inline-flex;
    color:rgb(245, 245, 245);
}

#signup_row a{
    margin-left:10px;
    color: rgb(240, 216, 0);
}

.otherLogin{
    display: inline-flex;
    place-items:center;
    /* background:#555; */
    height: 150px;
    width: auto;
    transform:translate(-20px,0);

}

.otherLogin a{
    margin: 0 25px;
    /* text-decoration:none; */
    color:#fff;
    display: block;
    position:relative;
}

.otherLogin a:nth-child(3){
    margin-right:50px;
   
}

.otherLogin a .layer{
    width:55px;
    height:55px;
    transition: transform 0.3s;
}

.otherLogin a:hover .layer{
    transform: rotate(-20deg) skew(15deg);
}

.otherLogin a .layer span{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    border-radius:5px;
    border: 1px solid #fff;
    transition: all 0.3s;
}

.otherLogin a .layer span.fab{
    font-size:30px;
    line-height:55px;
    text-align:center;
}

/* .otherLogin a .layer span img{
    position: relative;
} */

.otherLogin a .layer span svg{
    display: block;
    margin: auto;
    transform: translateY(10px);
}

.otherLogin a:hover .layer span:nth-child(1){
    opacity: 0.2;
}

.otherLogin a:hover .layer span:nth-child(2){
    opacity: 0.4;
    transform:translate(5px,-5px)
}

.otherLogin a:hover .layer span:nth-child(3){
    opacity: 0.6;
    transform:translate(10px,-10px)
}

.otherLogin a:hover .layer span:nth-child(4){
    opacity: 0.8;
    transform:translate(15px,-15px)
}

.otherLogin a:hover .layer span:nth-child(5){
    opacity: 1;
    transform:translate(20px,-20px)
}

.otherLogin a:nth-child(1) .layer span{
    color:#fff;
    border-color:#fff;
    /* background: rgb(227,66,52);
background: linear-gradient(180deg, rgba(227,66,52,1) 0%, rgba(243,182,3,1) 40%, rgba(50,163,80,1) 67%, rgba(64,129,236,1) 100%); */
}

.otherLogin a .text{
    font-size: 16px;
}
.otherLogin a:nth-child(1) .text{
    color:#fff;
    /* background: rgb(227,66,52);
background: linear-gradient(180deg, rgba(227,66,52,1) 0%, rgba(243,182,3,1) 40%, rgba(50,163,80,1) 67%, rgba(64,129,236,1) 100%); */
}

.otherLogin a:nth-child(2) .layer span{
    color:#3d7dac;
    border-color:#3d7dac;
}

.otherLogin a:nth-child(2) .text{
    color:#3d7dac;
}

.otherLogin a:nth-child(3) .layer span{
    color:#E1306C;
    border-color:#E1306C;
}

.otherLogin a:nth-child(3) .text{
    color:#E1306C;
}


.otherLogin a .text{
    position:absolute;
    left:50%;
    bottom:-5px;
    opacity: 0;
    transform: translateX(-50%);
    transition: bottom 0.3s ease,opacity 0.3s ease;
}

.otherLogin a:hover .text{
    bottom:-30px;
    opacity: 1;
}

.copyright{
    position: relative;
    width: 100%;
    height: 50px;
    bottom: 2px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    z-index: -101;
}

/*媒体查询*/
@media screen and (max-width: 1080px) {
    .container{
        grid-gap: 9rem;
    }
}
@media screen and (max-width: 1024px) {
    form{
        width: 290px;
    }
    form h2{
        font-size: 2.4rem;
        margin: 8px 0;
    }
    .img img{
        width: 360px;
    }
}
@media screen and (max-width: 768px) {
    .wave{
        display: none;
    }
    .img{
        display: none;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .login-box{
        justify-content: center;
    }
}