@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
::selection{
  background: #8e44ad;
  color: #fff;
}
html,body{
  /* display: grid; */
  place-items: center;
  width: 100%;
  height: 100%;
  
}



/* profile and menu */


.navbar_left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-fluid{
  justify-content: space-between;
}
.navbar{
  
}


.navbar_right{
  display: flex;
  margin-right: 20px;
}

#myPoint{
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myPoint a:first-child{
  margin:auto;
  padding:auto;
}

.action{
  /* position: fixed; */
  top: 10px;
  right: 50px;
}

.profile img{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  object-fit:cover;
}

.action .profile{
  position:relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow:hidden;
  cursor:pointer;
}

.action .menu::before{
 content:"";
 position:absolute;
 top: -5px;
 right:28px;
 width:20px;
 height:20px;
 background: #fff;
 transform:rotate(45deg);
}

.action .menu{
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu.active{
 top: 80px;
 visibility: visible;
 opacity: 1;
}

.action .menu h3{
  width: 100%;
  text-align:center;
  font-size: 18px;
  padding:20px 0;
  font-weight: 500;
  color:#555;
  line-height: 1.2em;
}

.menu h3 span{
  font-size: 14px;
  color:#cecece;
  font-weight: 400;
}

.action .menu ul{
  padding-left:20px;
  justify-self: start;
}

.action .menu ul li{
 list-style:none;
 padding: 10px 0;
 border-top: 1px solid rgba(0,0,0,0.05);
 display:flex;
 /* align-items:center; */
 /* justify-content: center; */
}

.action .menu ul li img{
 max-width: 28px;
 /* margin-right: 10px; */
 opacity: 0.5;
 transition: 0.5s;
}

.action .menu ul li:hover img{
 opacity: 1;
}

.action .menu ul li a{
 display:inline-block;
 text-decoration: none;
 color:#555;
 font-weight: 500;
 transition: 0.5s;
}

.action .menu ul li:hover a{
 color:red;
}
/* end of profile and menu button */


.content {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border: 1px solid rgba(255, 0, 0, 0.13);
height: 100%;
background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

.layout-blur{
  width: 100%;
  height:100%;
  background-color: rgba(0, 0, 0, 0.233);
  position: absolute;
  filter: blur(3px);
  z-index: 1;
}

.content h1,h2,a{
  z-index: 99;
}

.content h1,h2{
  color: #333333;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
}




.button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 10px 20px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
  background: linear-gradient(45deg, #ee9ca7 0%, #ffdde1 100%);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}




.button{
  height: 45px;
  margin: 35px 0;
  width: 15rem;
}







