:root {
    --color:#e40046;
}

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background:#e9e9e9;
    overflow-x:hidden;
    /* padding-top: 90px; */
    /* margin:0 100px; */
}

/* profile and menu */
.navbar_container{
    width: 100%;
  }
  
  .navbar_left{
    display: flex;
    align-items: center;
  }
  
  .container-fluid{
    justify-content: space-between;
  }
  
  .action{
    /* position: fixed; */
    top: 10px;
    right: 50px;
  }
  
  .profile img{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
  }
  
  .action .profile{
    position:relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow:hidden;
    cursor:pointer;
  }
  
  .action .menu::before{
   content:"";
   position:absolute;
   top: -5px;
   right:28px;
   width:20px;
   height:20px;
   background: #fff;
   transform:rotate(45deg);
  }
  
  .action .menu{
    position: absolute;
    top: 120px;
    right: -10px;
    padding: 10px 20px;
    background: #fff;
    width: 200px;
    box-sizing: 0 5px 25px rgba(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
  
  .action .menu.active{
   top: 80px;
   visibility: visible;
   opacity: 1;
   z-index: 1000;
  }
  
  .action .menu h3{
    width: 100%;
    text-align:center;
    font-size: 18px;
    padding:20px 0;
    font-weight: 500;
    color:#555;
    line-height: 1.2em;
  }
  
  .menu h3 span{
    font-size: 14px;
    color:#cecece;
    font-weight: 400;
  }
  
  .action .menu ul{
    padding-left:20px;
    justify-self: start;
    margin-bottom:0;
  }
  
  .action .menu ul li{
   list-style:none;
   padding: 10px 0 0;
   border-top: 1px solid rgba(0,0,0,0.05);
   display:flex;
   /* align-items:center; */
   /* justify-content: center; */
  }
  
  .action .menu ul li img{
   max-width: 28px;
   /* margin-right: 10px; */
   opacity: 0.5;
   transition: 0.5s;
  }
  
  .action .menu ul li:hover img{
   opacity: 1;
  }
  
  .action .menu ul li a{
   display:inline-block;
   text-decoration: none;
   color:#555;
   font-weight: 500;
   transition: 0.5s;
  }
  
  .action .menu ul li:hover a{
   color:red;
  }
  /* end of profile and menu button */

.profile-side{
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.profile-nav-info .address{
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}
.profile-header {
    background:#fff;
    width:100%;
    display:flex;
    height:190px;
    margin-top:20px;
    position:relative;
    box-shadow: 0px 3px 4px rgba(0,0,0,0.2);
    max-width:1400px;
}
.profile-img {
  display: flex;
  justify-content: center;
  align-items: center;
    /* float:left; */
    width:340px;
    height:200px;

}

.profile-img img {
    object-fit: cover;
    border-radius:50%;
    height: 150px;
    width: 150px;
    border:4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    /* position:absolute; */
    left:50px;
    top:0px;
    z-index:5;
    background: #fff;
    margin-left: 50px;
}

.profile-nav-info {
    float:left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.profile-nav-info h3{
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.proile-nav-info .address {
    display: flex;
    font-weight: bold;
    color:#777;
}

.profile-nav-info .address p{
    margin-right:5px
}

.profile-option {
    width:100%;
    height:100%;
    /* background:var(--color); */
    position:relative;
    left:50px;
    padding-top:30px;
    /* top:50%; */
    /* transform:translateY(-50%); */
    border-radius: 50%;
    display:flex;
    /* justify-content:center; */
    /* align-items:center; */
    /* cursor:pointer; */
    transition: all .0.5s ease-in-out;
    outline:none;
}

.profile-option .notification i {
    color:#fff;
    font-size: 1.2rem;
    transition:all .5s ease-in-out;
}

/* .profile-option:hover {
    background:#fff;
    border:1px solid var(--color);
} */

/* .profile-option:hover .notification i {
    color:var(--color);
} */

.profile-option .notification .alert-message {
    position:absolute;
    top:-5px;
    right:-5px;
    background:#fff;
    color:var(--color);
    border:1px solid;
    padding: 5px;
    border-radius:50%;
    height:20px;
    width:20px;
    display:flex;
    justify-content:center;
    align-items: center;
    font-size:  .8rem;
    font-weight:bold;
}

.profile-option .notification{
 
}
.profile-option .notification p{
  max-height: 100px;
  max-width: 70%;
  overflow: scroll;
}

.main-bd {
    width:100%;
    display: flex;
    /* padding-right:15px; */
}

.profile-side {
    width:300px;
    background:#fff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    padding:90px 30px 20px;
    font-family: serif;
    /* margin-left:10px; */
    z-index:99;
}

.profile-side p{
    margin-bottom: 7px;
    color:#333;
    font-size:  14px;
}

.profile-side p i {
    color: var(--color);
    margin-right:10px;
}

.mobile-no i{
    transform:rotateY(180deg);
}

.profile-btn {
  display:inline-flexbox;
}

button.chatbtn,
button.passbtn {
    border:0;
    padding: 10px;
    width:100%;
    border-radius: 3px;
    background: var(--color);
    font-family: sans-serif;
    font-size: 1rem;
    margin:5px 2px;
    cursor:pointer;
    outline:none;
    margin-bottom:10px;
    transition: background .3s ease-in-out;
    box-shadow: 0 5px 7px 0 rgba(0,0,0,0.3);
    color: #fff;
    display: none;
}

button.chatbtn:hover,
button.passbtn:hover {
    background:rgba(288,0,70,.9);
}

button.chatbtn i,
button.passbtn i {
    margin-right: 5px;
}

.user-rating{
    display: flex;
}

.user-rating h3{
    font-size:2.5rem;
    font-weight:200;
    margin-right:5px;
    letter-spacing:1px;
    color:#666;
}

.user-rating .no-user {
    font-size: .9rem
}

.rate {
    padding-top: 6px;
}

.rate i{
    font-size: .9rem;
    color: var(--color);
}

.nav {
    width:100%;
    z-index:-1;
}

.right-side{
    width:100%;
    max-width: 1100px;
}

.nav ul{
    display:flex;
    justify-self: center;
    list-style-type: none;
    height: 40px;
    width:100%;
    background: #fff;
    box-shadow:  0px 2px 5px rgba(0,0,0,0.3);
    margin-bottom: 0;
    padding-left: 0;

}

.nav ul li {
    padding: 10px;
    width:100%;
    cursor:pointer;
    text-align:center;
    transition:all .2s ease-in-out;
}

.nav ul li.active,
.nav ul li:hover{
    box-shadow: 0px -3px 0px rgba(288,0,70,.9) inset;
}

.profile-body{
    width:100%;
    z-index:-1;
}

.tab{
    padding:20px;
    width:100%;
    text-align:start;
    display:none;
}

.profile-box{
    padding: 0;
    margin:0;
    background-color: #fff;
    min-height:800px;
    padding-top: 20px;
}

.profile-info-box{
  padding:50px;
  border: 3px solid grey;
  box-shadow: 0px 3px 4px rgba(0,0,0,0.2);;
}

#see-more-bio,
#see-less-bio {
    color:blue;
    cursor:pointer;
    text-transform:capitalize;
}

@media(max-width:1100px) {
    .profile-side {
        width:250px;
        padding:90px 15px 20px;
    }

    .profile-img img {
        /* height:200px;
        width:200px; */
        left:50px;
        top:50px;
    }
}

@media(max-width:900px){
    body{
        margin:0 20px;
    }
    .profile-header {
        display: flex;
        height:100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 10px;
    }
    .profile-img{
        float:left;
        width:100%;
        height: 200px;
    }
    .profile-img img {
        position:relative;
        left:0;
    }
    .profile-nav-info{
        text-align: center;
    }
    .profile-nav-info .address{
        justify-content: center;
    }
    .profile-option{
        right:20px;
        top:75%;
        transform:translateY(50%);
    }
     .main-bd{
         flex-direction: column;
         padding-right:0px ;
     }
     .profile-side{
         width:100%;
         text-align:center;
         padding: 20px;
         margin:5px 0;
     }
     .user-rating{
         justify-content:center;
     }

     @media(max-width:400px) {
         body{
             margin:5px;
         }
         .profile-header h3 {
             font-size:1.7rem;
         }
         .profile-header p{
             font-size: .9rem;
         }
         .profile-option{
             width:30px;
             height: 30px;
             position: absolute;
             right: 15px;
             top:83%;
         }
         .profile-option .notification .alert-message {
             top:-3px;
             right:-4px;
             padding:4px;
             height:15px;
             width:15px;
             font-size:.7rem;
         }
     }

    }


    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    /* *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    } */
    ::selection{
      color: #fff;
      background: #007bff;
    }
    /* body{
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    } */
    .wrapper{
      max-width: 1100px;
    }
    .gallery{
      display: flex;
      flex-wrap: wrap;
      /* justify-content: center; */
      /* justify-content: flex-start; */
    }
    .gallery .image{
      /* padding: 7px; */
      /* width: calc(100% / 3); */
      width:240px;
      height:360px;
      margin: 15px 10px;
    }
    .gallery .image span{
      /* display: flex; */
      /* width: 100%; */
      overflow: hidden;
    }
    .gallery .image span img{
      width:240px;
      height:360px;
      object-fit:cover;
      vertical-align: middle;
      transition: all 0.3s ease;
    }
    .gallery .image:hover img{
      transform: scale(1.1);
    }
    .preview-box{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.9);
      background: #fff;
      max-width: 100%;
      width: 100%;
      z-index: 5;
      opacity: 0;
      pointer-events: none;
      border-radius: 3px;
      padding: 0 5px 5px 5px;
      box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
    }
    .preview-box.show{
      width: 75vh;
      /* width:100%; */
      opacity: 1;
      pointer-events: auto;
      transform: translate(-50%, -50%) scale(1);
      transition: all 0.3s ease;
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
    .preview-box .details{
      display: flex;
      align-items: center;
      padding: 12px 15px 12px 10px;
      justify-content: space-between;
    }
    .preview-box .details .title{
      display: flex;
      font-size: 18px;
      font-weight: 400;
    }
    .details .title p{
      margin: 0 5px;
    }
    .details .title p.current-img{
      font-weight: 500;
    }
    .details .icon{
      color: #007bff;
      font-size: 20px;
      cursor: pointer;
    }
    .preview-box .image-box{
      display: flex;
      width: 50vh;
      /* position: relative; */
      /* transform: translateX(50%); */
    }

    .image-box .slide{
      position: absolute;
      /* justify-content: center;
      align-items: center; */
      /* top: 50%; */
      /* transform: translateY(-50%); */
      color: #fff;
      font-size: 50px;
      cursor: pointer;
      height: 100%;
      width: 60px;
      line-height: 50px;
      text-align: center;
      border-radius: 3px;
      /* z-index:998; */
    }
    .slide.prev{
      /* top:50%; */
      left: -2%;
    }
    .slide.next{
      /* top:50%; */
      right: -2%;
    }
    .slide span{
      display: flex;
      justify-content: center;
    }

    .image-box img{
      transform: translateX(7.5%);
      width: 130%;
      border-radius: 0 0 3px 3px;
    }
    .shadow{
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 2;
      display: none;
      background: rgba(0,0,0,0.45);
    }
    @media(max-width: 1000px){
      /* .gallery .image{
        width: calc(100% / 3);
      } */
    }
    @media(max-width: 600px){
      .gallery .image{
        width: 100%;
        padding: 4px;
      }
    }



.wrapper-two {
  z-index: 998;
  font-weight:400;
  font-size: 1rem;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  position:absolute;
}

.container-btn{
  background:#fff;
  padding:3em;
  text-align:center;
  border-radius: 0.5em;
  min-width: 400px;
  display: none;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index:2;
  transition: 0.3s all;
  animation-fill-mode: forwards;
  animation:zoomIn 0.5s;
}

.container-btn.active{
  display: block;
}

@keyframes zoomIn{
  0%{transform:scale(0.75) translate(-50%,-50%);}
  100%{transform:scale(1) translate(-50%,-50%);}
}

.wrapper-two{
  content:"";
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity:1;
  display: none;
}

.wrapper-two.active{
  opacity:1;
  display:block;
}

.container-btn .fa-times{
  color:#ddd;
  font-size:1.5rem;
  position:absolute;
  top:1rem;
  right:1rem;
  cursor:pointer;
}


.text{
  text-align: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2em;
}

.btn-match
{
  font-size:1rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-decoration:none;
  color:#fff;
  padding:0.8em 0.4em;
  display: block;
  border-radius: 0.4em;
  margin-bottom:1.6em;
}

.btn-match{
  background-color:#ED6755;
  -webkit-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  -moz-box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
  box-shadow: 0px 13px 34px -6px rgba(237,103,85,1);
}





